*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
    --color-background: rgb(193, 190,255);
    --color-white: white;
    --color-purple: #702963;
    --color-blue: #090088;

    --container-width-lg: 80%;
    --container-width-md: 90%;

    --transition: all 500ms ease;
}